html { height: 100%; width: 100%; }
body {width: 100%; min-width: 900px; height: 100%; margin: 0; padding: 0; font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #332318; }
p, td, ul, ol, li, dl, dt, dd { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }
img { border: none; }
table { border-collapse: collapse; }
table tr th, table tr td { vertical-align: top; text-align: left; padding: 3px; }
a { color: #0033CC; }
a:hover {}
.clear {clear: both; }
.center { text-align: center; }

/* Structure */
header { height: 4em; padding-top: 1em; text-align: center; background: #666666; color: #FFFFFF; }
header h1 { margin: 0; padding: 0; }
#main { min-height: 500px; background: #FFFFFF; }
nav { float: left; width: 180px; min-height: 480px; padding: 10px; background: #CCCCCC; color: #000000; }
footer { clear: both; height: 2.5em; text-align: right; background: #666666; color: #FFFFFF; }
footer p { margin: 0; padding: 0.5em 1em; }

/* Navigation */
nav ul { list-style: none; margin: 0; padding: 0; }
nav ul li { margin-bottom: 0.5em; }
nav ul ul { margin: 0.5em 0 0 1em; font-size: 0.9em; }
nav a { text-decoration: none; padding: 1px 3px; }
nav a:hover { background: #F2DC87; }

/* Content */
#content { float: left; width: 800px; padding-left: 10px; }
#content h2 { color: #4C2516; }
